body {
    background-color: #fffec8;
}

h3 {
    padding-top: 24px;
}

h4 {
    padding-top: 24px;
}

ul {
    padding-left: 16px;
}

.form-group
{
    padding-bottom: 16px;
}

.form-check
{
    padding-bottom: 16px;
}

.navbar
{
  padding-bottom: 32px;
  padding-left: 32px;
}

.navbar-brand
{
  font-size: 32px;
}

.nav-link
{
  font-size: 28px;
  padding-top: 12px;
}


