{% extends "layout.html" %}
{% block content %}

<h2>Register</h2>
<form action="/register" method="POST">
  <input type="text" name="username" placeholder="Username" minlength="1" maxlength="25">
  <input type="password" name="password" placeholder="Password" minlength="5" maxlength="100">
  <input type="password" name="password_again" placeholder="Password again" minlength="5" maxlength="100">
  <input type="submit" value="Create account">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
<br>
{% if error %}
{{ errormsg }}
{% endif %}

{% endblock %}